@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  font-display: swap;
  src: url("../fonts/Comfortaa-Bold.woff") format("woff"), url("../fonts/Comfortaa-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 400;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  z-index: 2;
}

body {
  background-color: #0E1525;
}

html {
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container,
.container-2 {
  margin: 0 auto;
  width: 1240px;
  padding: 0 10px;
}

.container-2 {
  width: 1000px;
}

body.lock {
  overflow: hidden;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffff;
  z-index: 999999;
}

#preloader.hide-preloader {
  -webkit-animation: hidePreloader 1s;
          animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
  display: none;
}

@-webkit-keyframes hidePreloader {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hidePreloader {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pageUp {
  display: none;
  position: fixed;
  top: 80%;
  z-index: 10;
  right: 40px;
  width: 60px;
  height: 60px;
  background-color: #FD4766;
  opacity: 0.5;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.pageUp img {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  margin: 0 auto;
  margin-top: 22px;
  opacity: 0.5;
}

.pageUp:hover {
  opacity: 1;
}

.pageUp:hover img {
  opacity: 1;
}

.inscription {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background: -o-linear-gradient(0.71deg, #1C99FE 3.88%, #7644FF 41.98%, #FD4766 99.37%);
  background: linear-gradient(89.29deg, #1C99FE 3.88%, #7644FF 41.98%, #FD4766 99.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.inscription-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 62px;
  letter-spacing: 0.03em;
  color: #ffff;
  margin-top: 10px;
}

.header-center {
  text-align: center;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8A8A8A;
  margin-top: 15px;
}

.menu {
  position: fixed;
  width: 100%;
  height: 110px;
  background-color: #091020;
  z-index: 100;
}

.menu-block {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__navigation {
  width: 476px;
}

.menu__navigation-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
}

.menu__navigation .menu-active {
  right: 0px;
}

.menu__navigation-ol {
  position: absolute;
  display: block;
  width: 180px;
  min-height: 150px;
  background: #ffff;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  padding-bottom: 20px;
  -webkit-transform: translateX(100vh);
      -ms-transform: translateX(100vh);
          transform: translateX(100vh);
}

.menu__navigation-li .link {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.menu__navigation-li .link:hover {
  color: #FD4766;
}

.menu__navigation-li .link-ol {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #0E1525;
  padding: 0 5px;
}

.menu__navigation-li .link-ol:hover {
  background: rgba(253, 71, 102, 0.15);
}

.menu__navigation-li .li-ol {
  margin-top: 8px;
  margin-left: 15px;
}

.menu__navigation-li .li-ol:first-child {
  margin-top: 20px;
}

.menu .li-active:hover .menu__navigation-ol {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu .humburger {
  cursor: pointer;
  display: none;
  position: relative;
  width: 30px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 20px;
}

.menu .humburger::before,
.menu .humburger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  bottom: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.menu .humburger::after {
  bottom: 0;
  top: 10px;
}

.menu .humburger-active {
  background: rgba(255, 255, 255, 0);
}

.menu .humburger-active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
}

.menu .humburger-active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-block img {
  width: 40px;
  height: 40px;
}

.logo-block h2 {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #ffff;
  margin-left: 15px;
}

.logo-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

.logo-footer h2 {
  margin-left: 0;
  margin-top: 15px;
}

.promo {
  position: relative;
  width: 100%;
  min-height: 640px;
  background-color: #091020;
  z-index: 10;
}

.promo-block {
  position: relative;
  z-index: 3;
}

.promo__header {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#1C99FE), color-stop(39.9%, #7644FF), to(#FD4766));
  background-image: -o-linear-gradient(left, #1C99FE 0%, #7644FF 39.9%, #FD4766 100%);
  background-image: linear-gradient(90deg, #1C99FE 0%, #7644FF 39.9%, #FD4766 100%);
  padding-top: 210px;
}

.promo__text {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #D1D1D1;
  padding: 0 138px;
}

.promo__image {
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 0px;
}

.button {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 0.1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.button-promo {
  width: 200px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FD4766), to(#A81CFE));
  background: -o-linear-gradient(top, #FD4766 0%, #A81CFE 100%);
  background: linear-gradient(180deg, #FD4766 0%, #A81CFE 100%);
  -webkit-filter: drop-shadow(-4px -4px 10px rgba(255, 255, 255, 0.05)) drop-shadow(4px 4px 10px rgba(255, 255, 255, 0.05));
          filter: drop-shadow(-4px -4px 10px rgba(255, 255, 255, 0.05)) drop-shadow(4px 4px 10px rgba(255, 255, 255, 0.05));
  color: #ffff;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.button-delimiter {
  width: 250px;
  height: 50px;
  border: 2px solid #EEEEEE;
  background: rgba(0, 0, 0, 0);
  font-size: 20px;
  text-transform: lowercase;
  color: #EEEEEE;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.button-delimiter:hover {
  background: #EEEEEE;
  color: #0E1525;
}

.button-projects {
  width: 194px;
  height: 50px;
  background: #FD4766;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.1);
  color: #ffff;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.button-submit {
  width: 211px;
  height: 61px;
  background: #FD4766;
  -webkit-box-shadow: 4px 4px 10px rgba(253, 71, 102, 0.1), -4px -4px 10px rgba(253, 71, 102, 0.1);
          box-shadow: 4px 4px 10px rgba(253, 71, 102, 0.1), -4px -4px 10px rgba(253, 71, 102, 0.1);
  text-transform: uppercase;
  color: #ffff;
  margin-top: 35px;
}

.button-main {
  width: 250px;
  height: 50px;
  background: #FD4766;
  -webkit-box-shadow: -4px -4px 10px rgba(253, 71, 102, 0.2), 4px 4px 10px rgba(253, 71, 102, 0.2);
          box-shadow: -4px -4px 10px rgba(253, 71, 102, 0.2), 4px 4px 10px rgba(253, 71, 102, 0.2);
  letter-spacing: 0.03em;
  color: #ffff;
}

.button-modal {
  width: 200px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FD4766), to(#A81CFE));
  background: -o-linear-gradient(top, #FD4766 0%, #A81CFE 100%);
  background: linear-gradient(180deg, #FD4766 0%, #A81CFE 100%);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.1);
  color: #ffff;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.improvement {
  position: relative;
  width: 100%;
  min-height: 660px;
  padding-top: 120px;
  margin-bottom: 60px;
  z-index: 10;
}

.improvement__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.improvement__block-objects {
  margin-top: 15px;
  height: 362px;
  width: 390px;
  background: #091020;
  border-radius: 10px;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  margin-left: 10px;
}

.improvement__block-objects:first-child {
  margin-left: 0;
}

.improvement__block-objects:hover {
  background: #7644FF;
}

.improvement__block-objects .objects-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px 0 34px;
  margin-top: 25px;
}

.improvement__block-objects .objects-icon {
  margin-top: 9px;
}

.improvement__block-objects .objects-icon-question {
  cursor: pointer;
}

.improvement__block-objects .objects-header {
  margin-top: 33px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ffff;
  padding: 0 30px;
}

.improvement__block-objects .objects-text {
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(198, 201, 216, 0.75);
  padding: 0 30px;
}

.delimiter {
  position: relative;
  width: 100%;
  min-height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(#A81CFE), to(rgba(253, 71, 102, 0.6)));
  background: -o-linear-gradient(top, #A81CFE 0%, rgba(253, 71, 102, 0.6) 100%);
  background: linear-gradient(180deg, #A81CFE 0%, rgba(253, 71, 102, 0.6) 100%);
  padding-bottom: 30px;
  z-index: 2;
}

.delimiter__header {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffff;
  text-align: center;
  padding-top: 95px;
}

.projects {
  position: relative;
  width: 100%;
  min-height: 1400px;
  padding-top: 120px;
  z-index: 10;
}

.projects__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__block .card-fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 215px;
}

.projects__card {
  position: relative;
  margin-top: 35px;
  overflow: hidden;
  width: 390px;
  height: 592px;
}

.projects__card:last-child {
  margin-left: 35px;
}

.projects__card:hover .card-block {
  opacity: 1;
}

.projects__card:hover .card-blackout {
  background: rgba(9, 16, 32, 0.8);
}

.projects__card .card {
  border-radius: 10px;
}

.projects__card .card-blackout {
  position: absolute;
  width: 390px;
  height: 592px;
  background: rgba(9, 16, 32, 0.9);
  border-radius: 10px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.projects__card .card-image {
  position: absolute;
}

.projects__card .card-image img {
  width: 390px;
  height: 100%;
  border-radius: 12px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.projects__card .card-block {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  width: 390px;
  height: 301px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(253, 71, 102, 0)), to(#FD4766));
  background: -o-linear-gradient(top, rgba(253, 71, 102, 0) 0%, #FD4766 100%);
  background: linear-gradient(180deg, rgba(253, 71, 102, 0) 0%, #FD4766 100%);
  border-radius: 0 0 10px 12px;
}

.projects__card .card-block__signature {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #1C99FE;
  padding-top: 92px;
}

.projects__card .card-block__subheader {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8A8A8A;
}

.projects__card .card-block__header {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffff;
  margin-top: 10px;
}

.question {
  position: relative;
  width: 100%;
  min-height: 760px;
  padding-top: 120px;
  margin-bottom: 60px;
  z-index: 10;
}

.question__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question__submit {
  margin-top: 15px;
}

.question__submit-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.question-header {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #8A8A8A;
  margin-right: 30px;
}

.question .bl a {
  font-size: 16px;
  line-height: 28px;
  color: #1C99FE;
}

.question-form {
  margin-top: 50px;
  width: 590px;
}

.question-form input,
.question-form textarea {
  width: 590px;
  height: 50px;
  border: 2px solid rgba(138, 138, 138, 0.3);
  background-color: #0E1525;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #8A8A8A;
  padding-left: 25px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.question-form input:focus,
.question-form textarea:focus {
  border-color: #FD4766;
}

.question-form textarea {
  min-width: 590px;
  max-width: 590px;
  min-height: 120px;
  padding-top: 10px;
}

.question-blackout {
  width: 590px;
  height: 620px;
  background: rgba(118, 68, 255, 0.75);
  border-radius: 10px;
  position: absolute;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.question-blackout:hover {
  background: rgba(118, 68, 255, 0.5);
}

.footer {
  position: relative;
  width: 100%;
  min-height: 158px;
  background: #091020;
  z-index: 10;
  padding-bottom: 30px;
}

.footer-link {
  padding-top: 50px;
  text-align: center;
}

.footer-link a {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(18.42%, #FD4766), color-stop(81.58%, #1C99FE));
  background-image: -o-linear-gradient(top, #FD4766 18.42%, #1C99FE 81.58%);
  background-image: linear-gradient(180deg, #FD4766 18.42%, #1C99FE 81.58%);
}

.footer-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8A8A8A;
  margin-top: 20px;
}

.footer-header {
  padding-top: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8A8A8A;
}

.main,
.main-2,
.main-3,
.main-4,
.main-5 {
  position: relative;
  width: 100%;
  background: url("../img/bg/bg-1.jpg") center center/cover no-repeat;
  min-height: 500px;
  padding-bottom: 30px;
  z-index: 10;
}

.main__header,
.main-2__header,
.main-3__header,
.main-4__header,
.main-5__header {
  margin-top: 0;
  padding-top: 177px;
}

.main__text,
.main-2__text,
.main-3__text,
.main-4__text,
.main-5__text {
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #B6B6B6;
}

.main-button,
.main-2-button,
.main-3-button,
.main-4-button,
.main-5-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__button,
.main-2__button,
.main-3__button,
.main-4__button,
.main-5__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 560px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 55px;
}

.main-2 {
  background: url("../img/bg/park-Sosina.jpg") center center/cover no-repeat;
}

.main-3 {
  background: url("../img/bg/park-zernova.jpg") center center/cover no-repeat;
}

.main-4 {
  background: url("../img/bg/kpp-4.jpg") center center/cover no-repeat;
}

.main-5 {
  background: url("../img/bg/ski-base.jpg") center center/cover no-repeat;
}

.description {
  position: relative;
  width: 100%;
  min-height: 305px;
  padding: 0 20px;
  z-index: 10;
  padding-top: 60px;
}

.description__text {
  text-align: justify;
  font-size: 18px;
  margin-bottom: 15px;
}

.description__link {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #FD4766;
}

.photo {
  position: relative;
  width: 100%;
  min-height: 700px;
  padding-top: 60px;
  padding-bottom: 60px;
  z-index: 10;
}

.photo .swiper {
  width: 100%;
  height: 550px;
  margin-top: 15px;
}

.photo .swiper-wrapper {
  width: 791px;
  height: 501px;
}

.photo .swiper-slide {
  width: 791px;
  height: 501px;
}

.photo .swiper-slide img {
  width: 791px;
  height: 501px;
  border-radius: 10px;
}

.photo .swiper-button-prev,
.photo .swiper-button-next {
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  top: 50%;
}

.photo .swiper-button-prev::after,
.photo .swiper-button-next::after {
  color: #ffff;
}

.photo .swiper-button-prev:hover,
.photo .swiper-button-next:hover {
  width: 70px;
  height: 500px;
  background: #7644FF;
  border-radius: 10px 0px 0px 10px;
  top: 4%;
}

.photo .swiper-button-prev:hover::after,
.photo .swiper-button-next:hover::after {
  color: #1F1F25;
}

.photo .swiper-button-next:hover {
  border-radius: 0px 10px 10px 0px;
}

.photo .swiper-scrollbar-drag {
  background: #FD4766;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.56);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  top: 0;
  z-index: 0;
  opacity: 0;
  overflow: auto;
}

.overlay .modal-improvement {
  display: block;
  margin: 0 auto;
  margin-top: 150px;
  width: 500px;
  min-height: 400px;
  background-color: #ffff;
  border-radius: 10px;
  padding-bottom: 30px;
}

.overlay .modal-block {
  border-radius: 10px 10px 0 0;
  width: 500px;
  min-height: 80px;
  background: #7644FF;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.overlay .modal-header {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffff;
  text-align: center;
  padding-top: 25px;
}

.overlay .modal-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #8A8A8A;
  padding: 0 30px;
  margin-top: 20px;
}

.overlay-active {
  z-index: 9999;
  opacity: 1;
}

.thanks {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #091020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1241px) {
  .container,
  .container-2 {
    width: 100%;
    padding: 0;
  }

  .menu {
    padding: 0 20px;
  }
}

@media (max-width: 1240px) {
  .promo__text {
    padding: 0 20px;
  }
}

@media (max-width: 1210px) {
  .improvement__block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .question__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .question__block_card:last-child {
    display: none;
  }
}

@media (max-width: 1205px) {
  .projects__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .projects__block .card-fl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }

  .projects__card:last-child {
    margin-left: 0;
  }
}

@media (max-width: 1005px) {
  .container-2 {
    width: 95%;
  }
}

@media (max-width: 809px) {
  .improvement__block-objects {
    margin-left: 0;
  }
}

@media (max-width: 792px) {
  .photo .swiper {
    height: 400px;
  }

  .photo .swiper-wrapper {
    width: 80%;
    height: 350px;
  }

  .photo .swiper-slide {
    width: 80%;
    height: 350px;
  }

  .photo .swiper-slide img {
    width: 80%;
    height: 350px;
  }

  .photo .swiper-button-prev,
  .photo .swiper-button-next {
    width: 70px;
    height: 500px;
    background: none;
    top: -40px;
  }

  .photo .swiper-button-prev:hover,
  .photo .swiper-button-next:hover {
    width: 70px;
    height: 500px;
    background: none;
    top: -40px;
  }

  .photo .swiper-button-prev:hover::after,
  .photo .swiper-button-next:hover::after {
    color: #ffff;
  }
}

@media (max-width: 665px) {
  .menu {
    min-height: 70px;
    padding: 0;
  }

  .menu-block {
    min-height: 70px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 5px;
  }

  .menu__navigation {
    position: absolute;
    margin-top: 30px;
    width: 100%;
    z-index: 1;
  }

  .menu__navigation-ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffff;
    opacity: 0.9;
    margin-top: 20px;
    padding-bottom: 30px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    height: 100vh;
    width: 100%;
    right: -100%;
  }

  .menu__navigation-ol {
    display: none;
  }

  .menu__navigation-li {
    padding: 30px;
  }

  .menu__navigation-li .link {
    color: #8A8A8A;
  }

  .menu .li-active:hover .menu__navigation-ol {
    display: none;
  }

  .menu .humburger {
    display: block;
  }

  .logo-block {
    margin-left: 20px;
  }

  .logo-footer {
    margin-left: 0px;
  }
}

@media (max-width: 650px) {
  .header {
    font-size: 35px;
    line-height: 45px;
    padding: 0 20px;
  }

  .text {
    padding: 0 20px;
  }

  .promo__header {
    font-size: 35px;
    line-height: 52px;
  }

  .button-main:last-child {
    margin-top: 30px;
  }

  .question__block_card {
    width: 95%;
  }

  .question__block_card:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .question__header {
    text-align: center;
  }

  .question__submit {
    text-align: center;
  }

  .main__header,
  .main-2__header,
  .main-3__header,
  .main-4__header,
  .main-5__header {
    padding-top: 150px;
  }

  .main__button,
  .main-2__button,
  .main-3__button,
  .main-4__button,
  .main-5__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }

  .description {
    padding: 0;
    padding-top: 60px;
  }

  .description__link {
    padding-left: 20px;
  }
}

@media (max-width: 595px) {
  .button-submit {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }

  .question-form {
    margin-top: 15px;
    width: 100%;
  }

  .question-form input,
  .question-form textarea {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  .question-form textarea {
    max-width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 525px) {
  .overlay .modal-improvement {
    width: 90%;
  }

  .overlay .modal-block {
    width: 100%;
    padding-bottom: 20px;
  }
}

@media (max-width: 392px) {
  .projects__card {
    max-width: 320px;
  }

  .projects__card .card-blackout {
    width: 320px;
  }

  .projects__card .card-image img {
    width: 320px;
    height: 592px;
  }

  .projects__card .card-block {
    max-width: 320px;
  }
}

@media (max-width: 325px) {
  .header {
    font-size: 30px;
  }
}

.webp .main, .webp .main-2, .webp .main-3, .webp .main-4, .webp .main-5 { background: url(../img/bg/bg-1.webp) center center/cover no-repeat; }

.webp .main-2 { background: url(../img/bg/park-Sosina.webp) center center/cover no-repeat; }

.webp .main-3 { background: url(../img/bg/park-zernova.webp) center center/cover no-repeat; }

.webp .main-4 { background: url(../img/bg/kpp-4.webp) center center/cover no-repeat; }

.webp .main-5 { background: url(../img/bg/ski-base.webp) center center/cover no-repeat; }